<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CriptoTime</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="/styles/contato.css" rel="stylesheet">
    <link href="/styles/" rel="stylesheet">
    <script src="/components/pages/contato/contato.js"></script>
</head>

<body>

    <header>

        <div id="title">
            
            <h1>Investindo</h1>
            <h1>No futuro</h1>

        </div>

        <ul>

           <a href="/index.html"> <li>Início</li> </a>
           <a href="#"> <li>Serviços</li> </a>
           <a href="/components/pages/sobre/sobre.html"> <li>Sobre</li> </a>
           <a href="/components/pages/contato/contato.html"> <li>Contatos</li> </a>
           <a href="#"> <li>Já tem uma conta?</li> </a>
           
        </ul>

    </header>

    <main> 

        <div class="text">

            <h2>Entre em contato conosco, responderemos assim que possível.</h2>

        </div>

                <form>

                    <input id="nome" type="text" placeholder="Nome">
                    <input id="numero" type="text" placeholder="Celular">
                    <input onclick="enviardado()" id="submit" class="enviar" type="submit" value="Enviar">
    
                </form>

    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>